@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	font-family: 'Roboto', sans-serif;
}

:root {
	/* COLORS */
	--black: #000;
	--white: #fff;
	--curious-blue-1: #2688eb;
	--curious-blue-2: #2d81e0;
	--royal-blue: #3f8ae0;
	--cadet-blue: #aeb7c2;
	--steel-gray: rgba(174, 183, 194, 0.2);
	--gray-chateau: #99a2ad;
	--heather: #b8c1cc;
	--regent-gray: #818c99;
	--pale-sky: #6d7885;
	--iron: #d7d8d9;
	--crimson: #e64646;
	--coral-red: #ff3347;
	--athens-gray: #f2f3f5;
	--light-pink: #faebeb;
	--shark: #19191a;
	--mine-shaft: #292929;
	--transparent-black: rgba(0, 0, 0, 0.12);
	--transparent-midnight: rgba(0, 28, 61, 0.05);
	--transparent-white: rgba(255, 255, 255, 0.2);
	--hover-transparent-white: rgba(255, 255, 255, 0.37);
	--transparent-dark: rgba(0, 0, 0, 0.35);
	--apple: #4bb34b;

	/* RADIUS */
	--radius-8: 8px;
	--radius-12: 12px;

	/* SHADOWS */
	--tooltip-shadow: 0px 0px 4px rgba(0, 0, 0, 0.04),
		0px 4px 32px rgba(0, 0, 0, 0.16);
	--action-shadow: 0px 0px 4px rgba(0, 0, 0, 0.08),
		0px 8px 8px rgba(0, 0, 0, 0.16);
	--alert-shadow: 0px 0px 8px rgba(0, 0, 0, 0.12),
		0px 16px 16px rgba(0, 0, 0, 0.16);

	/* GRADIENTS */

	--gradient-black-top-bottom: linear-gradient(
		180deg,
		rgba(0, 0, 0, 0.0001) 0%,
		rgba(0, 0, 0, 0.0156863) 9.22%,
		rgba(0, 0, 0, 0.054902) 18.76%,
		rgba(0, 0, 0, 0.117647) 28.48%,
		rgba(0, 0, 0, 0.2) 38.19%,
		rgba(0, 0, 0, 0.290196) 47.75%,
		rgba(0, 0, 0, 0.392157) 56.99%,
		rgba(0, 0, 0, 0.501961) 65.75%,
		rgba(0, 0, 0, 0.607843) 73.87%,
		rgba(0, 0, 0, 0.709804) 81.18%,
		rgba(0, 0, 0, 0.8) 87.52%,
		rgba(0, 0, 0, 0.882353) 92.74%,
		rgba(0, 0, 0, 0.945098) 96.66%,
		rgba(0, 0, 0, 0.984314) 99.14%,
		#000000 100%
	);
	--gradient-black-bottom-top: linear-gradient(
		360deg,
		rgba(0, 0, 0, 0.0001) 0%,
		rgba(0, 0, 0, 0.0156863) 9.22%,
		rgba(0, 0, 0, 0.054902) 18.76%,
		rgba(0, 0, 0, 0.117647) 28.48%,
		rgba(0, 0, 0, 0.2) 38.19%,
		rgba(0, 0, 0, 0.290196) 47.75%,
		rgba(0, 0, 0, 0.392157) 56.99%,
		rgba(0, 0, 0, 0.501961) 65.75%,
		rgba(0, 0, 0, 0.607843) 73.87%,
		rgba(0, 0, 0, 0.709804) 81.18%,
		rgba(0, 0, 0, 0.8) 87.52%,
		rgba(0, 0, 0, 0.882353) 92.74%,
		rgba(0, 0, 0, 0.945098) 96.66%,
		rgba(0, 0, 0, 0.984314) 99.14%,
		#000000 100%
	);
	--gradient-white-top-bottom: linear-gradient(
		180deg,
		rgba(245, 245, 245, 0.0001) 0%,
		rgba(245, 245, 245, 0.0156863) 9.22%,
		rgba(245, 245, 245, 0.054902) 18.76%,
		rgba(245, 245, 245, 0.117647) 28.48%,
		rgba(245, 245, 245, 0.2) 38.19%,
		rgba(245, 245, 245, 0.290196) 47.75%,
		rgba(245, 245, 245, 0.392157) 56.99%,
		rgba(245, 245, 245, 0.501961) 65.75%,
		rgba(245, 245, 245, 0.607843) 73.87%,
		rgba(245, 245, 245, 0.709804) 81.18%,
		rgba(245, 245, 245, 0.8) 87.52%,
		rgba(245, 245, 245, 0.882353) 92.74%,
		rgba(245, 245, 245, 0.945098) 96.66%,
		rgba(245, 245, 245, 0.984314) 99.14%,
		#f5f5f5 100%
	);
	--gradient-white-bottom-top: linear-gradient(
		360deg,
		rgba(245, 245, 245, 0.0001) 0%,
		rgba(245, 245, 245, 0.0156863) 9.22%,
		rgba(245, 245, 245, 0.054902) 18.76%,
		rgba(245, 245, 245, 0.117647) 28.48%,
		rgba(245, 245, 245, 0.2) 38.19%,
		rgba(245, 245, 245, 0.290196) 47.75%,
		rgba(245, 245, 245, 0.392157) 56.99%,
		rgba(245, 245, 245, 0.501961) 65.75%,
		rgba(245, 245, 245, 0.607843) 73.87%,
		rgba(245, 245, 245, 0.709804) 81.18%,
		rgba(245, 245, 245, 0.8) 87.52%,
		rgba(245, 245, 245, 0.882353) 92.74%,
		rgba(245, 245, 245, 0.945098) 96.66%,
		rgba(245, 245, 245, 0.984314) 99.14%,
		#f5f5f5 100%
	);

	/* LETTER-SPACING */

	--ls-1: 0.1px;
	--ls-2: 0.2px;
}

[data-theme='light'] {
	color-scheme: light;
	--primary-color: var(--black);
	--secondary-color: var(--white);
	--overlay-primary: var(--curious-blue-1);
	--overlay-secondary: var(--transparent-midnight);
	--overlay-secondary-hover: var(--transparent-black);
	--form-bg: var(--athens-gray);
}

[data-theme='dark'] {
	color-scheme: dark;
	--primary-color: var(--white);
	--secondary-color: var(--black);
	--overlay-primary: var(--white);
	--overlay-secondary: var(--transparent-white);
	--overlay-secondary-hover: var(--hover-transparent-white);
	--form-bg: var(--mine-shaft);
}

.checkbox-ui:checked + .checkbox-ui-fake {
	@apply bg-curious-blue-1 border-none;
}

.checkbox-ui:checked + .checkbox-ui-fake .checkbox-ui-fake-icon {
	@apply opacity-100;
}

.radio-ui-fake::before {
	content: '';
	@apply absolute top-1/2 left-1/2 -translate-y-1/2 -translate-x-1/2 block w-[10px] h-[10px] rounded-full bg-transparent transition-colors ease-in-out duration-200;
}

.radio-ui:checked + .radio-ui-fake {
	@apply border-curious-blue-1;
}

.radio-ui:checked + .radio-ui-fake::before {
	@apply bg-curious-blue-1;
}
